<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="http://cdn.klimg.com/vemale.com/p/favicon.ico">
	<title>{{ title }}</title>
	<meta name="google-signin-client_id" content="425064194713-m66i1kh4leqacrpeio5svr8c9ii05pes.apps.googleusercontent.com">
	<meta property="fb:app_id" content="349131465127632"/>
	<meta name="alexaVerifyID" content="z-rc5WHrc34RkDBpRHa-nW47MK0" />
</head>
<body>
	<h1>{{ title }}</h1>
	
</body>